
<div id="main" class="col-xs-12">

    <div class="row">
        <div class="col-xs-12">
            The SafetyCube DSS is the European Road Safety Decision Support System, which has been produced within the European research project SafetyCube, funded within the Horizons 2020 Programme of the European Commission, aiming to support evidence-based
            policy making. The SafetyCube Decision Support System provides detailed interactive information on a large list of road accident risk factors and related road safety countermeasures.
            Τhe SafetyCube DSS fact-sheet is available for download <a href="assets/data/pdf/SafetyCube.Factsheet.pdf" target="_blank">here</a>.
            A Quick Guide on using the SafetyCube DSS, with instructions on how to browse the system, make a search and further refine the results, is available for download <a href="assets/data/pdf/A.Quick.Guide.to.the.SafetyCube.DSS.pdf" target="_blank">here</a>.
            A full webinar on the SafetyCube DSS is available <a href="https://youtu.be/Hjnvk1Hn7rc" target="_blank">here</a>.
        </div>
        <div class="col-xs-3 col-xs-offset-9 intro-label">
            Introductory Video: <a href="https://www.youtube.com/watch?v=Y-mVUde3knU" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>

    <div class="row">
        <div id="menu" class="list-group main-menu">
            <ul>
                <li class="list-group-item menu-text">
                    <a ng-href="#/text-search"><img src="assets/images/SafetyCube-KeywordSearch.jpg" border="0" class="img-responsive" style="width: 215px"></a><br/>
                    <span class="intro-label">Introductory Video: <a href="https://www.youtube.com/watch?v=3xlOw6w5z1U" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a></span>
                </li>
                <li class="list-group-item menu-risk">
                    <a ng-href="#/risk-factor-search"><img src="assets/images/SafetyCube-RiskFactors.jpg" border="0" class="img-responsive" style="width: 215px"></a><br/>
                    <span class="intro-label">Introductory Video: <a href="https://www.youtube.com/watch?v=efg57qBQobU" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a></span>
                </li>
                <li class="list-group-item menu-measures">
                    <a ng-href="#/measure-search"><img src="assets/images/SafetyCube-Measures.jpg" border="0" class="img-responsive" style="width: 215px"></a><br/>
                    <span class="intro-label">Introductory Video: <a href="https://www.youtube.com/watch?v=_XPqttNpv5A" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a></span>
                </li>
                <li class="list-group-item menu-groups">
                    <a ng-href="#/road-user-group-search"><img src="assets/images/SafetyCube-RoadUserGroups.jpg" border="0" class="img-responsive" style="width: 215px"></a><br/>
                    <span class="intro-label">Introductory Video: <a href="https://www.youtube.com/watch?v=T3WHIJzq30s" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a></span>
                </li>
                <li class="list-group-item menu-accident">
                    <a ng-href="#/accident-scenario-search"><img src="assets/images/SafetyCube-AccCategories.jpg" border="0" class="img-responsive" style="width: 215px"></a><br/>
                    <span class="intro-label">Introductory Video: <a href="https://www.youtube.com/watch?v=cjqsknRP0Q0" target="_blank" class="play-icon"><i class="fa fa-youtube-play"></i></a></span>
                </li>
            </ul>
        </div>
    </div>

</div>