<div class="row breadcrumb">
    <a ng-href="#/">Home</a>   <i class="fa fa-chevron-right" style="font-size: 11px;color: #888;font-weight: lighter;"></i>   Methodology
</div>

<div class="row methodology">
    <div class="col-xs-3">
        <img src="assets/images/SafetyCube-1a.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
        <h3>SafetyCube Project</h3>
        <p>SafetyCube (Safety CaUsation, Benefits and Efficiency) is a research project funded by the European Commission under the Horizons 2020, the EU Framework Programme for Research and Innovation, in the domain of Road Safety. The project started on
            May 1st, 2015 and will run for a period of three years.</p>

        <p>The primary objective of the SafetyCube project is to develop the innovative road safety Decision Support System (DSS) that will enable policy-makers and stakeholders to select and implement the most appropriate strategies, measures and cost-effective
            approaches to reduce casualties of all road user types and all severities in Europe and worldwide.</p>

        <p>More detailed information about the project activities and results are available at <a href="http://www.safetycube-project.eu" target="_blank">www.safetycube-project.eu</a></p>
    </div>
</div>


<div class="row methodology">
    <div class="col-xs-3">
        <img src="assets/images/SafetyCube-1b.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
        <h3>Methodology</h3>
        <p>The information presented in the Road Safety DSS was collected, analysed and summarized by a multidisciplinary team of experienced road safety researchers, also on the basis of extensive stakeholders’ consultation. A well-defined, systematic and
            rigorous methodology was developed and applied, consisting of:</p>

        <ul>
            <li>Taxonomy for identification and definition of risk factors and measures;</li>
            <li>Criteria for identification and prioritization of relevant literature;</li>
            <li>Coding of individual studies by means of a dedicated template;</li>
            <li>Analysing clusters of comparable studies and summarising the findings by means of meta-analysis or other appropriate techniques.</li>
        </ul>
        <p>More detailed information about the methodology is available <a href="assets/data/pdf/SafetyCube_DSS Methodology_v4.pdf" target="_blank">here</a>.</p>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-3">
        <img src="assets/images/SafetyCube-1c.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
        <h3>Scope and limitations</h3>
        <p>For optimal use of the Road Safety DSS, some important information should be kept in mind, about the scope, the necessary research assumptions, as well as some limitations involved. These include, but are not limited to:</p>
        <ul>
            <li>Risk factors and measures definitions and coverage;</li>
            <li>Study selection and prioritization criteria;</li>
            <li>Limitations of analysis methods (meta-analysis, efficiency assessment) and transferability of findings;</li>
            <li>Risk factors and measures “colour code” ranking;</li>
            <li>Serious injuries and accident scenarios coverage.</li>
        </ul>
        <p>More detailed information about the Road Safety DSS scope and its limitations is available <a href="assets/data/pdf/ReadMe.pdf" target="_blank">here</a>.</p>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-3">
        <img src="assets/images/SafetyCube-1d.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
        <h3>Glossary</h3>
        <p>The Glossary of the Road Safety DSS includes all the definitions of the terms and abbreviations used, and the related sources. Short definitions are provided for the key terms on the DSS pages by mousing-over the highlighted terms. All detailed
            definitions are available in the full <a href="assets/data/pdf/SafetyCube_Glossary_v1.pdf" target="_blank">Glossary</a>.</p>
    </div>
</div>


<div class="row methodology">
    <div class="col-xs-3">
        <img src="assets/images/DSS-QualityAssurance.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
        <h3>Quality Assurance</h3>
        <p>The scientific quality of contents of the Road Safety DSS has been a top priority during the development phases. Strict quality assurance procedures were put in place, comprising four steps:<br/>
            - Comprehensive guidelines, supported by workshops, webinars, Q&A sessions, and a help desk, assisted the SafetyCube researchers with their work.<br>
            - The selection and coding of studies, as well as the analyses and synopses of the findings were peer reviewed within the project.<br>
            - A small pool of independent experts checked both the outputs of individual coded studies and the overall contents of the synopses, applying a set of predefined quality criteria. One expert specifically looked at consistency within and between synopses.<br>
            -  All synopses went through a language check by a native English speaker.</p>

            <p>More information about the SafetyCube DSS Quality Assurance can be found <a href="assets/data/pdf/WP8_DSS_QA_background_document_final_draft.pdf" target="_blank">here</a>.</p>
    </div>
</div>

