<div class="row breadcrumb">
    <a ng-href="#/">Home</a>   <i class="fa fa-chevron-right" style="font-size: 11px;color: #888;font-weight: lighter;"></i>   Support
</div>

<div class="row methodology">
    <div class="col-xs-2">
        <img src="assets/images/DSS-Endorsements.jpg" class="img-responsive">
    </div>
    <div class="col-xs-10">
        <h3>Endorsements</h3>
        <ul>
            <li>Violetta Bulc, EU Commissioner for Transport – <a href="https://youtu.be/dGFsIcEOYe8" target="_blank" class="play-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li>Jean Todt, UN Secretary Special Envoy for Road Safety – <a href="https://youtu.be/sGwopvvHaJQ" target="_blank" class="play-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li>Testimonials: Prof.Pete Thomas (Loughborough University), Prof.George Yannis (NTUA), Klaus Machata (KFV) – <a href="https://youtu.be/ZS8Gg65HPgs" target="_blank" class="play-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li>Testimonials by International Road Safety Experts – <a href="assets/data/pdf/SafetyCubeDSS-Endorsements.pdf" target="_blank" class="play-icon"><i class="fa fa-file-pdf-o"></i></a></li>
        </ul>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-2">
        <img src="assets/images/DSS-Contact.jpg" class="img-responsive">
    </div>
    <div class="col-xs-10">
        <h3>Contact</h3>
        <p>
            Safe and Smart Mobility Research Cluster<br/>
            Loughborough University, Loughborough. LE11 3TU. UK<br/>
            Tel: +44 1509 226931 | email: <a href="mailto:SafetyCube@lboro.ac.uk" target="_blank">SafetyCube@lboro.ac.uk</a>
        </p>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-2">
        <img src="assets/images/DSS-Help.jpg" class="img-responsive">
    </div>
    <div class="col-xs-10">
        <h3>Help</h3>
        <p>
            A Quick Guide on using the SafetyCube DSS is available, with instructions on how to browse the system, make a search and further refine the results. The Quick Guide is available for download <a href="assets/data/pdf/A.Quick.Guide.to.the.SafetyCube.DSS.pdf" target="_blank">here</a>.
        </br>
        Introductory videos to the SafetyCube DSS can be found <a href="https://www.safetycube-project.eu/dss" target="_blank">here</a>.</br>
            A full webinar on the SafetyCube DSS is available <a href="https://youtu.be/Hjnvk1Hn7rc" target="_blank">here</a>.
        </p>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-2">
        <img src="assets/images/DSS-Feedback.jpg" class="img-responsive">
    </div>
    <div class="col-xs-10">
        <h3>Feedback</h3>
        <p>
            <a href="mailto:SafetyCube@lboro.ac.uk" target="_blank">SafetyCube@lboro.ac.uk</a>
        </p>
    </div>
</div>

<div class="row methodology">
    <div class="col-xs-2">
        <img src="assets/images/DSS-Links.jpg" class="img-responsive">
    </div>
    <div class="col-xs-10">
        <h3>Links to Other Systems</h3>
        <ul>
            <li>PRACT Repository (<a href="http://www.pract-repository.eu/" target="_blank">www.pract-repository.eu</a>) by <a href="http://www.cedr.eu/" target="_blank">CEDR</a> (Europe)</li>
            <li>iRAP toolkit (<a href="http://toolkit.irap.org/" target="_blank">toolkit.irap.org</a>) by <a href="https://www.irap.org/" target="_blank">iRAP</a> (Global)</li>
            <li>PIARC Road Safety Manual (<a href="https://roadsafety.piarc.org/" target="_blank">roadsafety.piarc.org</a>) by <a href="https://www.piarc.org/" target="_blank">PIARC</a> (Global)</li>
            <li>Crash Modification Factors Clearinghouse (<a href="http://www.cmfclearinghouse.org/" target="_blank">www.cmfclearinghouse.org</a>) by <a href="https://www.nhtsa.gov/" target="_blank">NHTSA</a> (USA)</li>
            <li>Road Safety Engineering Kit (<a href="http://www.engtoolkit.com.au/" target="_blank">www.engtoolkit.com.au</a>) by <a href="http://www.austroads.com.au/" target="_blank">Austroads</a> (Australia)</li>
        </ul>
    </div>
</div>
